<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="fr">
<head>
    <title th:text="#{cas.login.pagetitle}">Connexion - RAVIV</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="/css/main.css">
</head>

<body class="login mdc-typography">
<div layout:fragment="content" class="d-flex justify-content-center">
    <div class="d-flex justify-content-center flex-md-row flex-column mdc-card mdc-card-content card flex-grow-1"
         th:with="loginFormEnabled=${#strings.defaultString(#themes.code('cas.login-form.enabled'), 'true') == 'true'},
                  loginFormViewable=${@casThymeleafTemplatesDirector.isLoginFormViewable(#vars)}">

        <!-- Main form section with CAS fragment -->
        <section id="loginForm"
                 th:if="${loginFormViewable and loginFormEnabled}"
                 class="login-section login-form card-body">
            <div th:replace="~{fragments/loginform :: loginform}">
                <a href="fragments/loginform.html">Login Form goes here</a>
            </div>
        </section>

        <!-- Delegated login providers (social, SAML idps, etc.) -->
        <section id="loginProviders" class="login-section login-providers card-body"
                 th:if="${(#bools.isFalse(delegatedAuthenticationDynamicProviderSelection)
                       && #bools.isFalse(delegatedAuthenticationDisabled))
                       && (#bools.isTrue(delegatedAuthenticationProviderConfigurations)
                       || #bools.isTrue(wsfedUrls))}">
            <div th:replace="~{fragments/loginProviders :: loginProviders}">
                <a href="fragments/loginProviders.html">loginProviders</a>
            </div>
        </section>

        <!-- QR authentication block -->
        <section id="qrlogin" class="login-section login-qr d-xs-none d-md-block card-body" th:if="${qrAuthenticationEnabled}">
            <div th:replace="~{fragments/qrAuthentication :: qrAuthentication}">
                <a href="fragments/qrAuthentication.html">qrAuthentication</a>
            </div>
        </section>

        <!-- Big image area (custom RAVIV background) -->
        <div id="bigImage"></div>
    </div>
</div>
</body>
</html>
